<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!--<staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3.00:00:00" />
    </staticContent>-->
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/index.php?sayfa=404" responseMode="ExecuteURL" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="Anasayfa" stopProcessing="true">
          <match url="^index.html(/?)+$" ignoreCase="false" />
          <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>
        <rule name="Hakkimda" stopProcessing="true">
          <match url="^hakkimda.html(/?)+$" ignoreCase="false" />
          <action type="Rewrite" url="index.php?sayfa=hakkimda" appendQueryString="true" />
        </rule>
        <rule name="Iletisim" stopProcessing="true">
          <match url="^iletisim.html(/?)+$" ignoreCase="false" />
          <action type="Rewrite" url="index.php?sayfa=iletisim" appendQueryString="true" />
        </rule>
        <rule name="Linkler" stopProcessing="true">
          <match url="^linkler.html(/?)+$" ignoreCase="false" />
          <action type="Rewrite" url="index.php?sayfa=linkler" appendQueryString="true" />
        </rule>
        <rule name="Calismalar" stopProcessing="true">
          <match url="^calismalar.html(/?)+$" ignoreCase="false" />
          <action type="Rewrite" url="index.php?sayfa=calismalar" appendQueryString="true" />
        </rule>
        <rule name="Calisma" stopProcessing="true">
          <match url="^calismalar/([a-zA-Z0-9-_]+).html(/?)+$" ignoreCase="false" />
          <action type="Rewrite" url="index.php?sayfa=calisma&amp;calisma={R:1}" appendQueryString="true" />
        </rule>
        <rule name="Iletisim Post" stopProcessing="true">
          <match url="^ajax/iletisim(/?)+$" ignoreCase="false" />
          <action type="Rewrite" url="ajax/iletisim.php" appendQueryString="true" />
        </rule>
        <rule name="Ara Post" stopProcessing="true">
          <match url="^ajax/ara(/?)+$" ignoreCase="false" />
          <action type="Rewrite" url="ajax/ara.php" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="sayfalar" />
          <add segment="composer" />
          <add segment="PHPMailer" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\ozayakcan.com.tr\tmp" />
  </system.web>
</configuration>