<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <rewrite>
      <rules>
        <rule name="Controllers" stopProcessing="true">
          <match url="^(.*)(/?)+$" ignoreCase="false" />
          <action type="Rewrite" url="index.php/$1" appendQueryString="true" />
        </rule>
        <rule name="Extensions" enabled="true">
          <match url=".*" negate="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{URL}" pattern="(.*)\.(.*)" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>